@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

body {
  font-family: "Black Ops One", cursive;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/** MAIN SCREEN */
#main-screen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px;
  display: grid;
  grid-template-columns: 60% 36%;
  grid-template-rows: 35% 30% 20%;
  gap: 30px;
  animation: scroll 70s linear infinite;
  background: url("../images/main-image.png");
  background-size: cover;
}

@keyframes scroll {
  100%{
   background-position: -2000px 0px;
 }
}

.section {
  background-color:lightgoldenrodyellow;
}


/*header*/
#header {
  background-color: transparent;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

#header img {
  width: 80px;
  height: 85px;
}

#header h1 {
  font-size: 55px;
  color: orangered;
  font-weight: bolder;
  margin: 0;
}

#header p {
  font-size: 20px;
  color: rgb(20, 30, 40);
  margin: 6px;
}

#main-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  width: 600px;
}

#music-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
  width: 20%;
}

.music {
  height: 35%;
  border-radius: 10px;
  background-color:rgb(20, 30, 40);
  color: white;
}

.music:focus {
  background-color: red;
}

#orange-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
}

#name {
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

#start-btn {
  background-color: orangered;
  color: white;
  padding: 18px;
  font-size: 20px;
  margin: 0;
  border-radius: 10px;
}


/*instructions*/
#instructions {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 8px 8px 8px;
  margin: 0;
  border-radius: 10px;
  color: rgb(4, 8, 48);
}

#instructions h2, h3, p {
  margin: 0;
}

#instructions-title {
  color: red;
}

#instructions p {
  font-size: 13px;
  font-weight: 500;
}


/*commands*/
#commands {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

#commands p, li {
  font-size: 17px;
}

#command-images {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#commands .keyboard {
  width: 50px;
  height: auto;
}

#commands-title {
  margin: 0;
  color: red;
}

#space-key {
  width: 60px;
  height: auto;
}

#commands ul {
  margin: 0;
  padding: 0;
  width: 90%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#shoot {
  text-align: center;
}

/*settings*/
#settings {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

#settings h2 {
  text-align: center;
  margin: -10px 0 0;
  color:red;
}

#selectors {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#selectors h3 {
  font-size: 20px;
  text-align: center;
}

/*player-selectors*/
#player-selection {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#player-selection button {
  width: 120px;
  height: 40px;
  padding: 0;
  margin-right: 6px;
  margin-left: 2px;
  border-radius: 10px;
}

#player-selection h3 {
  height: 30%
}

#player-selection img {
  width: 30px;
  height: auto;
  margin: 0 0 0 5px;
}

#player-img-buttons {
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

#red-spiderman-selector {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#black-spiderman-selector {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/*background-selectors*/
#background-selection {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#background-selection h3 {
  height: 30%;
}

#background-selection img {
  width: 50px;
  height: auto;
  margin: 0 0 0 5px;
}

#background-img-buttons {
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

#night-background-selector {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#day-background-selector {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#background-selection button {
  width: 110px;
  height: 40px;
  padding: 0;
  margin-right: 6px;
  margin-left: 3px;
  border-radius: 10px;
}


/*level-selectors*/
#level-selection {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#level-selection h3 {
  height: 30%;
}

#difficulty-buttons {
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#difficulty-buttons button {
  width: 110px;
  height: 40px;
  padding: 0;
  margin-right: 6px;
  margin-left: 3px;
  border-radius: 10px;
}

#settings button {
  background-color:mintcream;
}

#settings button:focus {
  background-color:greenyellow;
}

#settings button:visited{
  background-color:greenyellow;
}


/** GAME SCREEN */
#game-screen {
  background-image: url("../images/cinema.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


#last-attempts {
  background-color: white;
  margin: 0;
  font-size: 30px;
  width: 20%;
  text-align: center;
  box-shadow: 0 0 10px 10px white;
}

#my-canvas {
  background-color: lightgray;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 20px black;
}

table {
  width: 60%;
  height: 12%;
  border-collapse: collapse;
}

thead {
  height: 30%;
  text-align: center;
  font-size: 18px;
  background-color: white;
}

table th {
  width: 33%;
}

#th-1 {
  padding-left: 12px;
}


table td {
  text-align: center;
  font-size: 18px;
  background-color:lemonchiffon
}

/**GAME OVER SCREEN*/
#game-over-screen {
  background-color:palegreen;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation: scroll 70s linear infinite;
  background: url("../images/gameover-background.png");
  background-size: cover;
}

#game-over-screen img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

#game-over-screen h1 {
  width: 50%;
  height: 25%;
  margin: 0;
  font-size: 100px;
  text-align: center;
  background: #1909AD;
  background: linear-gradient(to right, #0c0a20 0%, #d42a0c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#wait-paragraph {
  font-size: 22px;
  text-align: center;
}

#gameover-choose {
  width: 50%;
  height: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ending-btn {
  width: 45%;
  height: 80%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: #00beef;
}

.ending-btn:hover {
  background-color: greenyellow;
}

/**GAME PASSED SCREEN*/
#game-passed-screen {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation: scroll 70s linear infinite;
  background: url("../images/luz.png");
  background-size: cover;
}

#game-passed-screen h1 {
  width: 50%;
  height: 25%;
  margin: 0;
  font-size: 80px;
  text-align: center;
  background: #1909AD;
  background: linear-gradient(to right, #966a0d 0%, #d42a0c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#thanks-paragraph {
  font-size: 24px;
  text-align: center;
  color: orangered;
}

#game-passed-screen img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

#go-home-page-btn {
  width: 30%;
  height: 8%;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
  background-color: #00beef;
}

#go-home-page-btn:hover {
  background-color: greenyellow;
}

/** STATES*/
#game-screen,
#game-over-screen,
#game-passed-screen {
  display: none; /* oculta este elemento y todo lo interno*/
}
