/* Para asegurarnos de que la página es igual en diferentes navegadores*/
* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/** MAIN SCREEN */
#main-screen {
  /*background-image: url("../images/wallpaper.jpg");
  background-repeat: round;*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px;
  display: grid;
  grid-template-columns: 60% 36%;
  grid-template-rows: 35% 30% 20%;
  gap: 30px;
  animation: colors 5s infinite;
}

@keyframes colors {
  0% {background-color: rgb(2, 19, 36)}
  50% {background-color: rgba(22, 5, 51, 0.836)}
  100% {background-color: rgb(4, 8, 48)}
}

.section {
  background-color: skyblue;
}


/*header*/
#header {
  background-color: transparent;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

#header img {
  width: 80px;
  height: 85px;
}

#header h1 {
  font-size: 50px;
  color: linen;
  font-weight: bolder;
  margin: 0;
}

#header p {
  font-size: 18px;
  color: #00beef;
  margin: 6px;
}

#main-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  width: 400px;
}

#orange-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
}

#name {
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

#start-btn {
  background-color: orangered;
  color: white;
  padding: 18px;
  font-size: 20px;
  margin: 0;
  border-radius: 10px;
}


/*instructions*/
#instructions {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 6px;
  margin: 0;
  border-radius: 10px;
  color: rgb(4, 8, 48);
}

#instructions h2, h3, p {
  margin: 0;
}

#instructions-title {
  color: red;
}

#instructions-score {
  color:firebrick
}

#instructions p {
  font-size: 16px;
  font-weight: 700;
}


/*commands*/
#commands {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#commands img {
  width: 60px;
  height: 60px;
}

/*settings*/
#settings {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
}

#settings h1 {
  text-align: center;
}

#selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/** GAME SCREEN */
#game-screen {
  background-color: linen;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#my-canvas {
  background-color: lightgray;
  /*max-width: 100%;
  max-height: 100%;*/
}



/**GAME OVER SCREEN*/
#game-over-screen {
  background-color: linen;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#game-over-screen img {
  width: 400px;
  height: 200px;
}


/**GAME PASSED SCREEN*/
#game-passed-screen {
  background-color: linen;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


/** STATES*/
#game-screen,
#game-over-screen,
#game-passed-screen {
  display: none; /* oculta este elemento y todo lo interno*/
}
